.product-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 180px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.product-card p {
  font-weight: bold;
  color: #2c3e50;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.product-card button:hover {
  background: #1e40af;
}